test/xsd/element.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
    <xs:element name="classname">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="intField" type="xs:integer"/>
                <xs:element name="dateField" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
