test/xsd/inversedNamespace.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="file://dep.xsd">
    <xs:element name="order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:string"/>
                <xs:element name="date" type="xs:dateTime"/>
                <xs:element name="address" type="Address"/>
                <xs:element ref="node"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
