test/xsd/simpletype.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'>
<xs:element name="age">
    <xs:simpleType>
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
        </xs:restriction>
    </xs:simpleType>
</xs:element>
 <xs:element name="option">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="A"/>
                <xs:enumeration value="B"/>
            </xs:restriction>
        </xs:simpleType>
 </xs:element>
 <xs:element name="colors">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="RED"/>
                <xs:enumeration value="GREEN"/>
                <xs:enumeration value="BLUE"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
</xs:schema>